@page "/"

@inject DialogService DialogService
@inject NotificationService NotificationService

@attribute [Authorize]
<PageTitle>Home</PageTitle>
<AuthorizeView Roles="Admin">
    <Authorized>

        <div class="card mx-auto shadow-lg" style="max-width:1000px">
            <div class="card-header d-flex align-items-center justify-content-center">
                <img src="Logo_.png" class="img-logo" />
                <h2>Sublimation - Menú Principal</h2>
            </div>
            <div class="card-body" style="background-color: #ffff; background-size: cover;">
                <div class="row justify-content-center">
                    <div class="col-md-4 text-center">
                        <a href="/IndexVenta">
                            <div class="menu-item">
                                <img src="Icons/Venta.png" class="icon" />
                                <p>Ventas</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 text-center">
                        <a href="/IndexCliente">
                            <div class="menu-item">
                                <img src="Icons/Clientes.png" class="icon" />
                                <p>Clientes</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 text-center mb-4">
                        <a href="/IndexServicio">
                            <div class="menu-item">
                                <img src="Icons/Servicio.png" class="icon" />
                                <p>Servicios</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 text-center">
                        <a href="/IndexUsuario">
                            <div class="menu-item">
                                <img src="Icons/Empleado.png" class="icon" />
                                <p>Usuarios</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 text-center">
                        <a href="/IndexCompra">
                            <div class="menu-item">
                                <img src="Icons/Compra.png" class="icon" />
                                <p>Compras</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 text-center mb-4">
                        <a href="/IndexReclamo">
                            <div class="menu-item">
                                <img src="Icons/Reclamos.png" class="icon" />
                                <p>Reclamos</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 text-center">
                        <a href="/IndexInsumo">
                            <div class="menu-item">
                                <img src="Icons/Inventario.png" class="icon" />
                                <p>Insumos</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 text-center">
                        <a href="/IndexSuplidor">
                            <div class="menu-item">
                                <img src="Icons/Suplidor.png" class="icon" />
                                <p>Suplidores</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="card mx-auto shadow-lg" style="max-width:1000px">
            <div class="card-header d-flex align-items-center justify-content-center">
                <img src="Logo_.png" class="img-logo" />
                <h2>Sublimation - Menú Principal</h2>
            </div>
            <div class="card-body" style="background-color: #ffff; background-size: cover;">
                <div class="row justify-content-center">
                    <div class="col-md-4 text-center">
                        <a href="/CreateVentaCliente">
                            <div class="menu-item">
                                <img src="Icons/Compra.png" class="icon" />
                                <p>Comprar</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 text-center">
                        <a href="/IndexVentaCliente">
                            <div class="menu-item">
                                <img src="Icons/Venta.png" class="icon" />
                                <p>Historial de Compras</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 text-center mb-4">
                        <a href="/IndexReclamoCliente">
                            <div class="menu-item">
                                <img src="Icons/Reclamos.png" class="icon" />
                                <p>Hacer Reclamo</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>


<style>
    .menu-item {
        border: 1px solid #ced4da;
        border-radius: 8px;
        padding: 10px;
        transition: background-color 0.3s ease, transform 0.2s ease;
        background-color: rgba(255, 255, 255, 0.8);
    }

        .menu-item:hover {
            background-color: #f8f9fa;
            transform: scale(0.95);
        }

        .menu-item:active {
            transform: scale(1);
        }

        .menu-item img {
            width: 50px;
            height: 50px;
            margin-bottom: 10px;
        }

        .menu-item p {
            margin: 0;
        }

    .img-logo {
        max-width: 50px;
        height: auto;
    }

    a, a:hover, a:focus, a:active {
        text-decoration: none;
        color: #001B97;
    }
</style>